body {
  background: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.3;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.8em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}


/* My custome css for a less sad look!*/

.main-page {
    width: 900px; 
    margin: 0 auto; 
    background-color: #ccffcc;
    border: 3px solid #1ab8ff;
    border-radius: 10px;
    padding:10px;
    opacity:0.7;
}

/* Comment Display section */

.commentBox {

}

.comment-section-title 
{
    text-align: center;
} 

.comment {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #c2c2c2;
    box-shadow: 1px 1px 4px #ebebeb;
    -moz-box-shadow: 1px 1px 4px #ebebeb;
    -webkit-box-shadow: 1px 1px 4px #ebebeb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    margin-bottom: 10px;
    outline: 0;
    word-wrap: break-word;
}

.commentAuthor {

}

.commentList {

}



/* Comment input section */
.comment-input-name {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #c2c2c2;
    box-shadow: 1px 1px 4px #ebebeb;
    -moz-box-shadow: 1px 1px 4px #ebebeb;
    -webkit-box-shadow: 1px 1px 4px #ebebeb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: 0;
    width: 20%;
    margin-right: 4px;
}

.comment-input-message {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #c2c2c2;
    box-shadow: 1px 1px 4px #ebebeb;
    -moz-box-shadow: 1px 1px 4px #ebebeb;
    -webkit-box-shadow: 1px 1px 4px #ebebeb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: 0;
    width: 70%;
    margin-right: 4px;
}

.comment-input-button {
  color: #fff;
  text-shadow: -2px 2px #346392;
  background-color: #3366cc;
  background-image: linear-gradient(top, #6496c8, #346392);
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  width: 9%;
  height: 31px;
  border-radius: 3px;
}

.comment-input-button:hover,
.comment-input-button.hover {
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}

.comment-input-button:active,
.comment-input-button.active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}
