
.column {
  max-width: 500px;
  margin: 0 auto; 
}

.inline {
  display: inline-block;
}

.right {
  float: right;
}

.mobile-profile-pic {
  display: none;
}

@media only screen and (max-width: 370px) {
  h1 {
    text-align: center;
  }

  .profile-pic {
    display: none;
  }

  .mobile-profile-pic {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
  }
}
