
.header-options
{
    float: right;
    cursor: default;
}

.header-options:hover .header-option
{
    opacity: 0.5;
}

.header-option
{
    cursor: pointer;
    transition: opacity 0.5s;
    padding-right: 2em;
    padding-top: 3.35em;
    display: inline-block;
    color: #FFF;
}

.header-options:hover .header-option:hover 
{
    opacity: 1;
}

.logo 
{
    padding: 2em;
    width: 30px;
}

.section
{
    padding: 2em;
    width: calc(100% - 4em);        
    margin: auto;
    max-width: 750px;
    color: #0088BD;
    font-size: 1.2em;
    font-weight: 600;
    font-family: sans-serif;
}

.split-pane
{
    display: flex;
    justify-content: space-between;
}

.split-pane > div + div
{
    padding-left: 1em;
}

.no-link-styles
{
    text-decoration:none; 
    color:white;
}