
/*
 * lightest: #f2f6f5
 * grey: #c8dad3
 * highlight: #93b5b3
 * dark: #63707e
 * */

.body {
  background: #f2f6f5;
  font-size: 1.25em;
  text-align: justify;
  font-family: "Lato";
}

.project-image-tile,
.podcast-image-tile {
  width: calc(100% - 10px);
  margin: 5px;
}

.footer {
  clear: both;
  text-align: center;
  color: white;
  padding: 5px;
  background: #1b1b1b;
  margin-top: 2em;
}

.ui.menu {
  margin: 0 !important;
}
