
@media screen and (max-width: 764px)
{
    #thermal-annealing-n-queens-chess-baord.chess-sizer {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 990px) and (min-width: 765px) 
{
    #thermal-annealing-n-queens-chess-baord.chess-sizer {
        width: 165px;
        height: 165px;
    }
}


@media screen and (max-width: 1200px) and (min-width: 991px) 
{
    #thermal-annealing-n-queens-chess-baord.chess-sizer {
        width: 217px;
        height: 217px;
    }
}


.chess-sizer {
    width: 266px;
    height: 266px;
}

#thermal-annealing-n-queens-chess-baord {
    border:1px solid black;
    margin-right: auto;
    margin-left: auto;
}

 #thermal-annealing-n-queens-chess-baord div {
    width: 12.5%;
    height: 12.5%;
    float:left;
}
