#thermal-annealing-n-queens-chess-baord {
    width: 320px;
    height: 320px;
    border:1px solid black;
    margin-right: auto;
    margin-left: auto;
}

 #thermal-annealing-n-queens-chess-baord div {
    width: 40px;
    height: 40px;
    float:left;
}
